<!DOCTYPE html>
<html lang="en">
<head>
    <!-- weather -->
    <a class="weatherwidget-io" href="https://forecast7.com/en/n6d28106d71/south-tangerang/" data-label_1="TANGERANG SELATAN" data-label_2="WEATHER" data-font="Ubuntu" data-icons="Climacons Animated" data-mode="Current" data-days="3" data-textcolor="#ffffff" data-suncolor="#ea8911" data-cloudfill="#808a98" >TANGERANG SELATAN WEATHER</a>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/bf44d8bc3b.js"></script>
    <title>Sign Up</title>

    <style>
        body{
            font-family: 'Lobster', cursive;
            color: white;
            background-color: #7f5a83;
            background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
        }
        input{
            color: white
        }
    </style>
</head>
<body>
    <center>
        <h1>Create a New Account</h1>
        <img src="static/images/icons/newaccount.png" alt="Account" width="7%">
        <br>
        <form action="/signup" method="post" class="col-2">
            <br>
            <p>Username : <input name="nama_signup" type="text" placeholder="create new username..." required></p>
            <p>Password : <input name="pass_signup" type="password" placeholder="create new password..." required></p>
            <input type="submit" value="Create Account" class="btn btn-primary red">
            <!-- <a href="/"><input type="button" value="Back" class="btn btn-dark blue"></a> -->
            <br><br>
            <a href="/"><button type="button" class="btn btn-primary btn-small blue"><i class="fas fa-arrow-left"> Back</i></button></a>
        </form>        
    </center>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>